@font-face {
    font-family: "Roboto";
    src: url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}
.container {
    max-width: 1200px;
    margin: 0 auto;  
    
}
@media (max-width:1200px) {
    .container {max-width: 970px;}
   }
@media (max-width: 992px) {
       .container {
           max-width: 750px;
       }
   }
@media (max-width: 767px) {
       .container {
           max-width: none;
       }
}
body {
    font-family: roboto;
}
.uber {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}
header {
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 20px;
   
    max-height: 72px;
    box-shadow: 0px 6px 4px -4px rgba(0, 0, 0, .2);
    
    
}
.nav_1 {
    margin-right: -10px;
}
.logo {
    float: left;
    margin-left: -150px;
    margin-top: -10px;
    vertical-align: top;
}
ul.ki { 
    float: right;
    margin-top: -20px;
    margin-right: -150px;
    list-style: none;
    vertical-align: top;
}
ul.ki li.border_1, li.ji, ul.kitchen li.not, li.yes {
  float: left;
  margin-right: 10px;
  font-family: 'roboto';
  font-style: medium;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  vertical-align: center;
  color: #1d1d1d;
  
}

.border_1 {
    border: 1px solid #e0e0e0;
    padding-right: 10px;
    padding-left: 10px;
    font-style: medium;
    font-size: 13px;
    vertical-align: center;
    color: #1d1d1d;
    font-family: "roboto", sans-serif;
    
}
ul li a {
    display: block;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    position: relative;
    color: #1d1d1d;
}

.tractir {
    background-image: url(images_res/d42ea9bbf7aff297c2e1eb5e5f3b7fa6-w1080-87.png); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-right: -400px;
    
    margin-left: -800px;
 padding-bottom: 680px;
   margin-top: -30px;
    
    
    
}
.pushkin_1 {
    margin-top: -600px;
    float: left;
    padding: 40px 50px 40px 50px;
    background-color: #ffffff;
}
.pushkin {
    color:#1d1d1d;
    font-size: 36px;
    vertical-align: bottom;
    margin-top: 10px;
}
ul.price {
   padding-top: 20px;
}
ul.price li.euros {
    display: block;
    float: left;
    list-style-type: none;
    margin-left: -46px;
    
}
li.euros, li.name_name {
    padding-right: 15px;
    font-family: "roboto", sans-serif;
    font-size: 14px;
    vertical-align: bottom;
    color: #626262;
}
.time_time {
    border: 1px solid #262626;
    border-radius: 16px;
    background-color:#262626;
    float: right;
    margin-top: -50px;
    color: #ffffff;
    padding: 10px 30px 10px 30px;
}

ul.navi_1 {
    list-style-type: none;
    margin-left: -200px;
    
}
ul.navi_1 li.li_1, li.li_2 {
    display: block;
    float: left;
    list-style-type: none;
    
}
li.li_1, li.li_2 {
    padding-right: 50px;
    font-size: 16px;
    vertical-align: bottom;
    font-family: "roboto", sans-serif;
}
ul.navi_1 li.li_2 {
    color: #327430;
}
li.li_1 {
    color: #626262;
}
.hr_r {
    margin-left: -650px;
    margin-right: -650px;
    margin-top: 80px;
}
.main {
    float: left;
    margin-top: 50px;
    margin-left: -130px;
      
}
.h_1 {
    font-style: normal;
    font-size: 22px;
    line-height: 34px;
    text-align: left;
    vertical-align: center;
    color: #1d1d1d;
    font-family: 'roboto';
    
}
.foods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
    margin-left: -465px;
    margin-right: -357px;
    
   
    
  
   
    
}
.food {
    text-align: center;
  
  box-sizing: border-box;
  padding: 10px 2px 10px 130px;
   flex-basis: 40%;  
   margin-bottom: 20px;
}
.r {
    max-width: 170px;
    max-height: 160px;
    float: right;
    margin-top: -3px;
    margin-right: -5px;
    
}
.g {
    max-width: 170px;
    max-height: 160px;
    float: right;
    margin-right: -5px;
    margin-top: -3px;
    
    background-color: #757575;
}
.food-name {
    max-width: 308px;
    font-size: 16px;
    max-height: 24px;
    text-align: left;
    vertical-align: center;
    color: #1d1d1d;
    margin: 10px 0px 0px 5px;
    
}
.time_1 {
    float: left;
    font-style: medium;
    margin-top: 95px;
    margin-left: 5px;
    font-size: 15px;
    line-height: 21px;
    text-align: left;
    vertical-align: center;
    color:#1d1d1d;
}
.time_2 {
    float: left;
    font-style: medium;
    padding-top: 80px;
    margin-left: -110px;
    font-size: 15px;
    line-height: 21px;
    text-align: left;
    vertical-align: center;
    color:#1d1d1d;
}
.jis {
    border: 1px solid;
    padding: 3px 5px 128px 5px;
}
.bis {
    border: 1px solid;
    padding: 3px 5px 128px 5px;
}
.dis {
    border: 1px solid;
    padding: 3px 5px 128px 5px;
}
.kis {
    border: 1px solid;
    padding: 3px 5px 128px 5px;
}
.lis {
    border: 1px solid;
    padding: 3px 5px 128px 5px;
}
.mis {
    border: 1px solid;
    padding: 3px 5px 128px 5px;
}
.o {
    float: left;
    font-size: 13px;
    color: #626262;
    text-align: left;
    vertical-align: center;
    margin-left: 5px;
}
footer {
    background-color: #262626;
    
}
.white_logo {
    float: left;
    margin-left: -150px;
    margin-top: 60px;
    margin-bottom: 50px;
    max-width: 16.34px;
    max-height: 18.92px;
    vertical-align: top;
}
.hr_2 {
    
    border-bottom-style: 1px solid;
    opacity: 40%;
    color: #ffffff;
    margin-top: 30px;
    margin-right: -1460px;
}
select {
    float: left;
    background: #3b3b3b url(images/world.svg) no-repeat 10px 10px;
    border-style: none;
    color: #ffffff;
    font-family: 'roboto';
    font-size: 13px;
    margin-top: 155px;
    margin-bottom: 30px;
    margin-left: -150px;
    padding: 10px 50px 10px 50px;
    
}
.navigation_1 {
    padding-top: 140px;
    
    
}
.partners {
   list-style-type: none;
   float: left;
   margin-left: 100px;
    
    
}
.about {
    
    font-family: "roboto";
    font-size: 13px;
    
    color: #ffffff;
}
.about a {
    display: block;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    
    color: #ffffff;
}
.h3_1 {
    float: left;
    color: #ffffff;
    padding-top: 70px;
    margin-left: -778px;
    font-family: "roboto", sans-serif;
    font-size: 16px;
}
.span_sp {
    color: #49a144;
}
ul.social_1 {
    float: left;
    padding-top: 100px;
   margin-left: -830px;
    list-style-type: none;
    
}
.soc{
    float: left;
    
} 
.soc a {
    display: block;
    padding: 10px 5px 10px 10px;
    text-decoration: none;   
}
.hr_3 {
    margin-top: 210px;
    margin-left: -152px;
    margin-right: -143px;
}
.hr_4 {
    border-bottom-style: 1px solid;
    opacity: 40%;
    color: #ffffff;
    
}
.submit {
    margin-top: 50px;
    margin-bottom: 50px;
   padding-left: 500px;
}
.smole_2 {
    max-width: 135px;
    padding: 0px 30px 0px 10px;
}
.hr_5 {
    margin-top: 50px;
    margin-left: -152px;
    margin-right: -147px;
}
.hr_6 {
    border-bottom-style: 1px solid;
    opacity: 40%;
    color: #ffffff; 
}

.done {
    font-size: 11px;
    color: #ffffff;
    margin-bottom: 50px;
    
    
}
.k {
    float: left;
    margin-left: -150px;
    margin-bottom: 30px;
}
.h {
    float: right;
    margin-right: 500px;
    margin-bottom: 30px;
}
.l {
    float: left;
    margin-left: 200px;
    margin-bottom: 30px;
}
.fiksi {
    position: fixed;
    top: 830px;
    right: 90px;
    background-color:#49a144;
    
}
.fiksi .spape_1 {
    border: none;
    padding: 20px 30px 20px 30px;
}
