@font-face {
    font-family: "Roboto";
    src: url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}
.container {
    max-width: 1200px;
    margin: 0 auto;  
    
}
@media (max-width:1200px) {
    .container {max-width: 970px;}
   }
@media (max-width: 992px) {
       .container {
           max-width: 750px;
       }
   }
@media (max-width: 767px) {
       .container {
           max-width: none;
       }
}
body {
    font-family: roboto;
}
.uber {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}
header {
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 20px;
   
    max-height: 72px;
    box-shadow: 0px 6px 4px -4px rgba(0, 0, 0, .2);
    
    
}
.nav_1 {
    margin-right: -10px;
}
.logo {
    float: left;
    margin-left: -150px;
    margin-top: -10px;
    vertical-align: top;
}
ul.ki { 
    float: right;
    margin-top: -20px;
    margin-right: -150px;
    list-style: none;
    vertical-align: top;
}
ul li {
  float: left;
  margin-right: 10px;
  font-family: 'roboto';
  font-style: medium;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  vertical-align: center;
  color: #1d1d1d;
  
}

.border_1 {
    border: 1px solid #e0e0e0;
    padding-right: 10px;
    padding-left: 10px;
    
    
}
ul li a {
    display: block;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    position: relative;
    color: #1d1d1d;
}
.p_p {
    font-style: regular;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    vertical-align: center;
    color: #626262; 
    
    opacity: 50%;
}
.p_1 {
    float: left;
    margin-top: 20px;
    margin-left: -150px;
    
}
.hr_1 {
    border-bottom-style: 1px solid;
    opacity: 30%;
    margin-top: -15px;
    margin-right: -1255px;
    

}
.main {
    float: left;
    margin-top: 150px;
    margin-left: -235px;
      
}
.h_1 {
    font-style: normal;
    font-size: 22px;
    line-height: 34px;
    text-align: left;
    vertical-align: center;
    color: #1d1d1d;
    font-family: 'roboto';
    
}
.foods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 220px;
    margin-left: -376px;
    margin-right: -357px;
    
   
    
  
   
    
}
.food {
    text-align: center;
  
  box-sizing: border-box;
  
   flex-basis: 30%;  
   margin-bottom: 20px;
}
.r {
    max-width: 317.94px;
    max-height: 256px;
    
}
.g {
    max-width: 317.94px;
    max-height: 256px;
    background-color: #757575;
}
.food-name {
    max-width: 308px;
    font-size: 16px;
    max-height: 24px;
    text-align: left;
    vertical-align: center;
    color: #1d1d1d;
    margin: 10px 0px 30px 134px;
}
ul.kitchen {
    float: left;
    margin-top: -23px;
    margin-left: 94px;
    line-height: 21px;
    font-size: 14px;
    
    vertical-align: center;
    text-align: left;
}
ul.kitchen li.not {
    list-style: none;
}

.not, .yes {
    padding-right: 10px;
}
.time_1 { 
    float: left;
    margin-top: 3px;
    margin-left: -107px;
    font-size: 13px;
    line-height: 21px;
    text-align: left;
    vertical-align: center;
    color:#1d1d1d;
}
.time_2 { 
    float: left;
    margin-top: 3px;
    margin-left: -275px;
    font-size: 13px;
    line-height: 21px;
    text-align: left;
    vertical-align: center;
    color:#1d1d1d;
}
.time_3 { 
    float: left;
    margin-top: 3px;
    margin-left: -237px;
    font-size: 13px;
    line-height: 21px;
    text-align: left;
    vertical-align: center;
    color:#1d1d1d;
}
.time_4 { 
    float: left;
    margin-top: 3px;
    margin-left: -135px;
    font-size: 13px;
    line-height: 21px;
    text-align: left;
    vertical-align: center;
    color:#1d1d1d;
}
.time_5 { 
    float: left;
    margin-top: 3px;
    margin-left: -135px;
    font-size: 13px;
    line-height: 21px;
    text-align: left;
    vertical-align: center;
    color:#1d1d1d;
}
.time_6 { 
    float: left;
    margin-top: 3px;
    margin-left: -254px;
    font-size: 13px;
    line-height: 21px;
    text-align: left;
    vertical-align: center;
    color:#1d1d1d;
}
.time_7 { 
    float: left;
    margin-top: 3px;
    margin-left: -94px;
    font-size: 13px;
    line-height: 21px;
    text-align: left;
    vertical-align: center;
    color:#1d1d1d;
}
.time_8 { 
    float: left;
    margin-top: 3px;
    margin-left: -113px;
    font-size: 13px;
    line-height: 21px;
    text-align: left;
    vertical-align: center;
    color:#1d1d1d;
}
.time_9 { 
    float: left;
    margin-top: 3px;
    margin-left: -138px;
    font-size: 13px;
    line-height: 21px;
    text-align: left;
    vertical-align: center;
    color:#1d1d1d;
}
footer {
    background-color: #262626;
    
}
.white_logo {
    float: left;
    margin-left: -150px;
    margin-top: 60px;
    margin-bottom: 50px;
    max-width: 16.34px;
    max-height: 18.92px;
    vertical-align: top;
}
.hr_2 {
    
    border-bottom-style: 1px solid;
    opacity: 40%;
    color: #ffffff;
    margin-top: 30px;
    margin-right: -1460px;
}
select {
    float: left;
    background: #3b3b3b url(images/world.svg) no-repeat 10px 10px;
    border-style: none;
    color: #ffffff;
    font-family: 'roboto';
    font-size: 13px;
    margin-top: 155px;
    margin-bottom: 30px;
    margin-left: -150px;
    padding: 10px 50px 10px 50px;
    
}


